/*------ CSS RESET ------*/

*{
  padding:  0;
  margin:  0;
  font-size: 100%;
  line-height: 1em;
}

/*-------MAIN STYLING------*/

body {
  width:  80%;
  max-width: 670px;
  margin: auto;
  background: #fafafa;
  color: #333;
}

/*-------TYPOGRAPHY---------*/

h1, h2, h3 {
  font-weight: normal;
  color: #93b4b8;
  text-align: center;
}

p,blockquote {
  margin-bottom: 1.5em;
  line-height: 1.4;
}

h1 {font-size: 3.052em;
  margin-top: 2em;
  margin-bottom: 0.1em;}

h2 {font-size: 2.441em;
  margin: 1em 0 }

h3 {font-size: 1.953em;
  margin-bottom: 1.5em;}

blockquote {
  font-size: 1.414em
  hanging-punctutation: first;
  text-indent: -0.44em
  color: #93b4b8;
}


blockquote cite {
  font-size: 0.75em
  color: #333;
}

/*-------FOOTER------*/

footer{
  text-align: center;
  font-size: 0.707em;
  padding: 2em 0 4em 0
}
